node_modules/
build/
dist/

.env
*.local

*.log

.vscode/
.idea/

.DS_Store
Thumbs.db

*.d.ts

*.o
*.obj
*.exe

Other/

db/migrations.sql

backend/product-catalog-service/vendor
tests/.env
tests/allure-results
tests/tests-report

backend/product-catalog-service/__pycache__
backend/product-catalog-service/.pytest_cache
